.Rproj.user
.Rhistory
.RData
.Ruserdata
notrack
windows
*.o
*.dll
*.obj
*.so
**.vscode
src/build
rGEDI.Rcheck
*.log
rGEDI*.tar.gz
Meta
doc
inst/gdal
inst/proj
src/Makevars
config.status
.netrc
GEDI01_B_2019226215413_O03805_04_T02285_02_005_01_V002.h5.curltmp
